.appointments-container {
    width: 100%;
    display: flex;
  }
  .appointments-container-body{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .appointments-container-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  }
  .appointments-container h2{
    color: #8c6df7;
  }
  .appointments-container h3{
    color: grey;
    
  }
  .appointments-container-body-doctors{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 10px;
    place-items: center;
  }
  .appointments-container-body-doctors-item{
    width: 95%;
    height: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(225, 218, 218, 0.566)
    ;
  
  }
  .appointments-container-body-doctors-part-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  .appointments-container-body-doctors-part-1 h3{
    margin: 5px 0px;
    color: #240f6a;
  }
  .react-select{
    margin: 10px 0px;
  }
  .appointments-container-body-doctors-part-2 button{
    width: 150px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #8c6df7;
  }
  .appointments-container-body-doctors-part-2 button:hover{
    background-color: #240f6a;
    color: white;
  }
  .appointments-container-body button{
    width: 130px;
    height: 40px;
    padding: 10px;
    border: none;
    margin: 10px 0px;
    background-color: #8c6df7;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  .appointments-container-body button:hover{
    background-color: #240f6a;
    color: white;
  }